* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}

html {
    background-color: #f4f4f4;
    margin: 20px 13% 20px 13%;
}

body {

    display: grid;
    grid-template-rows: auto;
    gap: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
}

.header header {
    color: #ffffff;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 668px) {
    .header {
        flex-direction: column;
        gap: 15px;
    }
}

nav {
    display: flex;
    gap: 30px;
    align-self: center;
}

.nav-item {
    color: #95a5a6;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:hover {
    color: #3498db;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.page-header {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.page-header h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.page-header p {
    font-size: 25px;
}

.animation-area {
    text-align: center;
    align-items: center;
    justify-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    border-radius: 10px;
    padding: 10% 10%;
}

.animation-box {
    color: #ffffff;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 30px;
    margin-top: 15%;
}

@keyframes pulse {

    100% {
        opacity: 0.75;
        transform: scale(1.2);
    }
}

.pulse-animation {
    background: linear-gradient(to bottom right, #642e88, #2c53d3);
    animation: pulse 0.6s ease-in-out infinite alternate;
}

@keyframes bounce {
    100% {
        transform: translateY(-50px);
    }
}

.bounce-animation {
    background: linear-gradient(to bottom right, #e9864d, #d32ca9);
    animation: bounce 0.6s ease-in-out infinite alternate;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    background: linear-gradient(to bottom right, #2b3add, #25d3f1);
    animation: rotate 3s linear infinite;
}

footer {
    color: #e4e6f7;
    text-align: center;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
}