* {
    /* outline: solid 1px red; */
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}

html {
    margin: 20px 5% 20px 5%;
}

body {
    display: grid;
    grid-template-rows: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
}

.header header {
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 668px) {
    .header {
        flex-direction: column;
        gap: 15px;
    }
}

nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.nav-item {
    color: #95a5a6;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:hover {
    color: #3498db;
}

footer {
    text-align: center;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
}