* {
    outline: solid 1px red;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer"
    ;
    grid-template-columns: 1fr 4fr;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    grid-area: "header";
    padding: 20px;
}

nav {

}

.nav-item {
    color: white;
    text-decoration: none;
}

.aside {
    grid-area: "aside";
}

