* {
    outline: solid 1px red;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer"
    ;
    grid-template-columns: 1fr 4fr;
    color: white;
    gap: 20px;
    height: 100%;
    background-color: #f4f4f4;;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    grid-area: header;
    padding: 20px;
    border-radius: 10px;
}

.header header {
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 668px) {
    .header {
        flex-direction: column;
        gap: 15px;
    }
}

nav {
    width: 7em;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.nav-item {
    color: #95a5a6;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:hover {
    color: #3498db;
}

.aside {
    grid-area: aside;
    background-color: #34495e;
    border-radius: 10px;
    padding: 20px;
}

.aside h3 {
    margin-bottom: 20px;
}

.aside ul {
    list-style-type: none;
    padding: 0;
}

.aside li {
    padding: 10px;
    margin-bottom: 10px;
}

.aside li a {
    text-decoration: none;
    color: #ecf0f1;
}

main {
    grid-area: main;
    color: #000;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    border-radius: 10px;
    padding: 20px;
}

main form {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;;
}

.input-group:nth-of-type(odd) {
    background-color: #ecf8ff;
}

.input-group:nth-of-type(odd) {
    background-color: #fff9e6;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

label {
    font-weight: bold;
}

.input-group input {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    grid-area: footer;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
}

