* {
    outline: solid 1px red;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer"
    ;
    grid-template-columns: 1fr 4fr;
    color: white;
    gap: 20px;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    min-height: 8em;
    background-color: #2c3e50;
    grid-area: header;
    padding: 20px;
    border-radius: 15px;
}

.header header {
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 668px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }
}

nav {
    width: 8em;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px;
}

.nav-item {
    color: #95a5a6;
    text-decoration: none;
    font-weight: bold;
    /* padding: 12px */
}

.nav-item:hover {
    color: #3498db;
}

.aside {
    grid-area: aside;
    background-color: #34495e;
}

main {
    grid-area: main;
    color: #000;
}

main form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input {
    
}

footer {
    text-align: center;
    grid-area: footer;
    background-color: #2c3e50;
    padding: 20px;
}

